[alias]
    co = checkout
    st = status
    unstage = reset HEAD --
    ci = commit
[user]
    name = Dan Dzoan
    email = dandzoan@gmail.com
[core]
    excludesfile = ~/.gitignore_global
[includeIf "hasconfig:remote.*.url:https://github.com/VantaInc/**"]
    path = .gitconfig-vanta
